In [0]:
import pandas as pd

#загрузка данных

r_cols = ['user_id', 'item_id', 'rating', 'timestamp']
ratings = pd.read_csv('u_data.csv', sep='\t', names = r_cols, encoding='latin-1')

genre = pd.read_csv('u_genre.csv', sep='|', names = ('genre','id'), encoding='latin-1')

info = pd.read_csv('u_info.csv', sep=' ', names = ('quan','obj'), encoding='latin-1')

i_cols = ['movie_id', 'movie_title' ,'release_date','video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy','Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
item = pd.read_csv('u_item.csv', sep='|', names = i_cols, encoding='latin-1')

o_cols = ['occup']
occ = pd.read_csv('u_occupation.csv', names = o_cols, encoding='latin-1')

u_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_csv('u.user.csv', sep='|', names = u_cols, encoding='latin-1')

In [37]:
print(ratings.shape)
ratings.head()

(100000, 4)

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [38]:
print(genre.shape)
genre.head()

(19, 2)

        genre  id
0     unknown   0
1      Action   1
2   Adventure   2
3   Animation   3
4  Children's   4

In [39]:
print(info.shape)
info.head()

(3, 2)

     quan      obj
0     943    users
1    1682    items
2  100000  ratings

In [40]:
print(item.shape)
item.head()

(1682, 24)

   movie_id        movie_title release_date  ...  Thriller War  Western
0         1   Toy Story (1995)  01-Jan-1995  ...         0   0        0
1         2   GoldenEye (1995)  01-Jan-1995  ...         1   0        0
2         3  Four Rooms (1995)  01-Jan-1995  ...         1   0        0
3         4  Get Shorty (1995)  01-Jan-1995  ...         0   0        0
4         5     Copycat (1995)  01-Jan-1995  ...         1   0        0

[5 rows x 24 columns]

In [41]:
print(occ.shape)
occ.head()

(21, 1)

           occup
0  administrator
1         artist
2         doctor
3       educator
4       engineer

In [42]:
print(users.shape)
users.head()

(943, 5)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [43]:
#кол-во уникальных юзеров
len(ratings['user_id'].unique())

943

In [44]:
#кол-во уникальных фильмов
len(ratings['item_id'].unique())

1682

In [45]:
#проверка ненулевых оценок
ratings['rating'].isnull().sum()

0

In [46]:
#Посчитайте среднюю оценку, которую поставил каждый пользователь

rat = ratings.filter(items = ['user_id', 'rating'])
avg_rat = rat.groupby(['user_id']).mean()
avg_rat

           rating
user_id
1        3.610294
2        3.709677
3        2.796296
4        4.333333
5        2.874286
6        3.635071
7        3.965261
8        3.796610
9        4.272727
10       4.206522
11       3.464088
12       4.392157
13       3.097484
14       4.091837
15       2.875000
16       4.328571
17       3.035714
18       3.880866
19       3.550000
20       3.104167
21       2.670391
22       3.351562
23       3.635762
24       4.323529
25       4.051282
26       2.943925
27       3.240000
28       3.721519
29       3.647059
30       3.767442
...           ...
914      3.086957
915      3.115385
916      3.365931
917      3.542857
918      3.349515
919      3.470046
920      3.230769
921      3.272727
922      3.370079
923      4.148649
924      3.756098
925      3.125000
926      3.300000
927      3.691667
928      4.687500
929      3.693878
930      2.968254
931      3.721311
932      3.966805
933      2.646739
934      3.701149
935      3.923077
936      3.746479
937      3.375000
938      3.268519
939      4.265306
940      3.457944
941      4.045455
942      4.265823
943      3.410714

[943 rows x 1 columns]

In [47]:
#Отсортируйте фильмы по количеству оценок

filtritem = item.filter(items = ['movie_id', 'movie_title'])
filtrat = ratings.filter(items = ['item_id', 'rating'])

cntfilm = filtrat.groupby(['item_id']).count().sort_values(by=['rating'], ascending=False)

film = cntfilm.join(filtritem.set_index(['movie_id']))
film

         rating                                        movie_title
item_id
50          583                                   Star Wars (1977)
258         509                                     Contact (1997)
100         508                                       Fargo (1996)
181         507                          Return of the Jedi (1983)
294         485                                   Liar Liar (1997)
286         481                        English Patient, The (1996)
288         478                                      Scream (1996)
1           452                                   Toy Story (1995)
300         431                               Air Force One (1997)
121         429                      Independence Day (ID4) (1996)
174         420                     Raiders of the Lost Ark (1981)
127         413                              Godfather, The (1972)
56          394                                Pulp Fiction (1994)
7           392                              Twelve Monkeys (1995)
98          390                   Silence of the Lambs, The (1991)
237         384                               Jerry Maguire (1996)
117         378                                   Rock, The (1996)
172         367                    Empire Strikes Back, The (1980)
222         365                    Star Trek: First Contact (1996)
313         350                                     Titanic (1997)
204         350                          Back to the Future (1985)
405         344                         Mission: Impossible (1996)
79          336                               Fugitive, The (1993)
210         331          Indiana Jones and the Last Crusade (1989)
151         326       Willy Wonka and the Chocolate Factory (1971)
173         324                         Princess Bride, The (1987)
69          321                                Forrest Gump (1994)
748         316                                  Saint, The (1997)
168         316             Monty Python and the Holy Grail (1974)
269         315                             Full Monty, The (1997)
...         ...                                                ...
1340          1                            Crude Oasis, The (1995)
1339          1                        Stefano Quantestorie (1993)
1595          1                                    Shopping (1994)
1596          1                           Nemesis 2: Nebula (1995)
1329          1                               Low Life, The (1994)
1599          1                      Someone Else's America (1995)
1325          1                                      August (1996)
1601          1                               Office Killer (1997)
1603          1                                      Angela (1995)
1604          1                          He Walked by Night (1948)
1583          1               Invitation, The (Zaproszenie) (1986)
1581          1                      Woman in Question, The (1950)
1564          1                        To Cross the Rubicon (1991)
1580          1                                    Liebelei (1933)
1565          1                                       Daens (1992)
1566          1                    Man from Down Under, The (1943)
1567          1                                     Careful (1992)
1568          1                       Vermont Is For Lovers (1992)
1569          1           Vie est belle, La (Life is Rosey) (1987)
1570          1                             Quartier Mozart (1992)
1571          1          Touki Bouki (Journey of the Hyena) (1973)
1572          1                     Wend Kuuni (God's Gift) (1982)
1349          1                             Mille bolle blu (1993)
1574          1                              Pharaoh's Army (1995)
1575          1      I, Worst of All (Yo, la peor de todas) (1990)
1576          1                     Hungarian Fairy Tale, A (1987)
1577          1  Death in the Garden (Mort en ce jardin, La) (1...
1348          1                         Every Other Weekend (1990)
1579          1                                 Baton Rouge (1988)
1682          1          Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [48]:
#Средствами pandasa соедините данные по оценкам с данными по пользователям (u.user)
joinuser = users.join(avg_rat, 'user_id', how='inner')
joinuser

     user_id  age gender     occupation zip_code    rating
0          1   24      M     technician    85711  3.610294
1          2   53      F          other    94043  3.709677
2          3   23      M         writer    32067  2.796296
3          4   24      M     technician    43537  4.333333
4          5   33      F          other    15213  2.874286
5          6   42      M      executive    98101  3.635071
6          7   57      M  administrator    91344  3.965261
7          8   36      M  administrator    05201  3.796610
8          9   29      M        student    01002  4.272727
9         10   53      M         lawyer    90703  4.206522
10        11   39      F          other    30329  3.464088
11        12   28      F          other    06405  4.392157
12        13   47      M       educator    29206  3.097484
13        14   45      M      scientist    55106  4.091837
14        15   49      F       educator    97301  2.875000
15        16   21      M  entertainment    10309  4.328571
16        17   30      M     programmer    06355  3.035714
17        18   35      F          other    37212  3.880866
18        19   40      M      librarian    02138  3.550000
19        20   42      F      homemaker    95660  3.104167
20        21   26      M         writer    30068  2.670391
21        22   25      M         writer    40206  3.351562
22        23   30      F         artist    48197  3.635762
23        24   21      F         artist    94533  4.323529
24        25   39      M       engineer    55107  4.051282
25        26   49      M       engineer    21044  2.943925
26        27   40      F      librarian    30030  3.240000
27        28   32      M         writer    55369  3.721519
28        29   41      M     programmer    94043  3.647059
29        30    7      M        student    55436  3.767442
..       ...  ...    ...            ...      ...       ...
913      914   44      F          other    08105  3.086957
914      915   50      M  entertainment    60614  3.115385
915      916   27      M       engineer    N2L5N  3.365931
916      917   22      F        student    20006  3.542857
917      918   40      M      scientist    70116  3.349515
918      919   25      M          other    14216  3.470046
919      920   30      F         artist    90008  3.230769
920      921   20      F        student    98801  3.272727
921      922   29      F  administrator    21114  3.370079
922      923   21      M        student    E2E3R  4.148649
923      924   29      M          other    11753  3.756098
924      925   18      F       salesman    49036  3.125000
925      926   49      M  entertainment    01701  3.300000
926      927   23      M     programmer    55428  3.691667
927      928   21      M        student    55408  4.687500
928      929   44      M      scientist    53711  3.693878
929      930   28      F      scientist    07310  2.968254
930      931   60      M       educator    33556  3.721311
931      932   58      M       educator    06437  3.966805
932      933   28      M        student    48105  2.646739
933      934   61      M       engineer    22902  3.701149
934      935   42      M         doctor    66221  3.923077
935      936   24      M          other    32789  3.746479
936      937   48      M       educator    98072  3.375000
937      938   38      F     technician    55038  3.268519
938      939   26      F        student    33319  4.265306
939      940   32      M  administrator    02215  3.457944
940      941   20      M        student    97229  4.045455
941      942   48      F      librarian    78209  4.265823
942      943   22      M        student    77841  3.410714

[943 rows x 6 columns]

In [0]:
#Построить модель, которая предсказывает оценку для фильма и пользователя 
#(воспользоваться RandomForestRegressor, тк мы решаем задачу регрессии)

data = ratings.filter(items = ['user_id', 'item_id', 'rating'])

x = data[['item_id', 'rating']]
y = data[['user_id', 'item_id']]

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import *

model =  RandomForestRegressor(bootstrap=True, max_depth=30,
           max_features='auto',
           min_samples_leaf=10, min_samples_split=100,
           n_estimators=300, 
           oob_score=True, random_state=None)

model.fit(x_train,y_train) # обучение
mod_pred = model.predict(x_test) # предсказание

In [115]:
#подбор параметров
from pprint import pprint
import numpy as np

print('Parameters currently in use:\n')
pprint(model.get_params())

from sklearn.model_selection import RandomizedSearchCV

n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
min_samples_split = [2, 5, 10, 15, 100]
min_samples_leaf = [1, 2, 5, 10]

random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

pprint(random_grid)

model = RandomForestRegressor()

Parameters currently in use:

{'bootstrap': True,
 'criterion': 'mse',
 'max_depth': 30,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 10,
 'min_samples_split': 100,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 300,
 'n_jobs': None,
 'oob_score': True,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}
{'max_depth': [5, 10, 15, 20, 25, 30],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 5, 10],
 'min_samples_split': [2, 5, 10, 15, 100],
 'n_estimators': [100,
                  200,
                  300,
                  400,
                  500,
                  600,
                  700,
                  800,
                  900,
                  1000,
                  1100,
                  1200]}

In [124]:
#Оценить качество регрессора на отложенной (train_test_split) выборке по одной из метрик на выбор - RMSE, RMAE, R^2  
r2_score = r2_score(y_test, mod_pred)
print("r^2 on test data : %f" % r2_score)

r^2 on test data : 0.495177

In [111]:
rmse = np.sqrt(mean_squared_error(y_test, mod_pred))
print("Root Mean Squared Error: {}".format(rmse))

Root Mean Squared Error: 189.31804164646078

In [52]:
#Загрузить данные в spark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null #установка java
!wget -q www-us.apache.org/dist/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz #скачиваем дистрибутив спарка
!tar -xvf spark-2.4.3-bin-hadoop2.7.tgz #распаковываем
!pip install -q findspark #устанавливаем спец пакеты на машину

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7" #добавляем переменные окружения
import findspark
findspark.init()
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate() #иницииализируем спарк
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark-2.4.3-bin-hadoop2.7/
spark-2.4.3-bin-hadoop2.7/python/
spark-2.4.3-bin-hadoop2.7/python/setup.cfg
spark-2.4.3-bin-hadoop2.7/python/pyspark/
spark-2.4.3-bin-hadoop2.7/python/pyspark/resultiterable.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/python/
spark-2.4.3-bin-hadoop2.7/python/pyspark/python/pyspark/
spark-2.4.3-bin-hadoop2.7/python/pyspark/python/pyspark/shell.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/heapq3.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/join.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/version.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/rdd.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/java_gateway.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/find_spark_home.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/_globals.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/worker.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/accumulators.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/feature.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/random.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/recommendation.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/fpm.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/classification.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/stat/
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/stat/KernelDensity.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/stat/distribution.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/stat/test.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/stat/_statistics.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/stat/__init__.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/util.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/regression.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/clustering.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/linalg/
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/linalg/distributed.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/linalg/__init__.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/tree.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/__init__.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/evaluation.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/common.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/mllib/tests.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/util.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/test_broadcast.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/shell.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/feature.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/recommendation.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/fpm.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/classification.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/stat.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/util.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/tuning.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/regression.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/base.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/clustering.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/wrapper.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/pipeline.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/linalg/
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/linalg/__init__.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/param/
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/param/_shared_params_code_gen.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/param/shared.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/param/__init__.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/__init__.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/evaluation.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/common.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/tests.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/ml/image.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/test_serializers.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/cloudpickle.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/serializers.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/daemon.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/files.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/rddsampler.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/statcounter.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/kafka.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/util.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/kinesis.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/flume.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/__init__.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/context.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/tests.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/dstream.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/streaming/listener.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/taskcontext.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/__init__.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/storagelevel.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/broadcast.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/profiler.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/traceback_utils.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/context.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/status.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/streaming.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/readwriter.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/catalog.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/session.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/column.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/functions.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/dataframe.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/window.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/udf.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/__init__.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/utils.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/group.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/context.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/tests.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/conf.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/sql/types.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/tests.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/conf.py
spark-2.4.3-bin-hadoop2.7/python/pyspark/shuffle.py
spark-2.4.3-bin-hadoop2.7/python/.gitignore
spark-2.4.3-bin-hadoop2.7/python/docs/
spark-2.4.3-bin-hadoop2.7/python/docs/epytext.py
spark-2.4.3-bin-hadoop2.7/python/docs/make2.bat
spark-2.4.3-bin-hadoop2.7/python/docs/pyspark.sql.rst
spark-2.4.3-bin-hadoop2.7/python/docs/make.bat
spark-2.4.3-bin-hadoop2.7/python/docs/index.rst
spark-2.4.3-bin-hadoop2.7/python/docs/_templates/
spark-2.4.3-bin-hadoop2.7/python/docs/_templates/layout.html
spark-2.4.3-bin-hadoop2.7/python/docs/_static/
spark-2.4.3-bin-hadoop2.7/python/docs/_static/pyspark.js
spark-2.4.3-bin-hadoop2.7/python/docs/_static/pyspark.css
spark-2.4.3-bin-hadoop2.7/python/docs/pyspark.ml.rst
spark-2.4.3-bin-hadoop2.7/python/docs/pyspark.streaming.rst
spark-2.4.3-bin-hadoop2.7/python/docs/conf.py
spark-2.4.3-bin-hadoop2.7/python/docs/pyspark.mllib.rst
spark-2.4.3-bin-hadoop2.7/python/docs/pyspark.rst
spark-2.4.3-bin-hadoop2.7/python/docs/Makefile
spark-2.4.3-bin-hadoop2.7/python/test_coverage/
spark-2.4.3-bin-hadoop2.7/python/test_coverage/conf/
spark-2.4.3-bin-hadoop2.7/python/test_coverage/conf/spark-defaults.conf
spark-2.4.3-bin-hadoop2.7/python/test_coverage/sitecustomize.py
spark-2.4.3-bin-hadoop2.7/python/test_coverage/coverage_daemon.py
spark-2.4.3-bin-hadoop2.7/python/run-tests-with-coverage
spark-2.4.3-bin-hadoop2.7/python/pyspark.egg-info/
spark-2.4.3-bin-hadoop2.7/python/pyspark.egg-info/top_level.txt
spark-2.4.3-bin-hadoop2.7/python/pyspark.egg-info/dependency_links.txt
spark-2.4.3-bin-hadoop2.7/python/pyspark.egg-info/requires.txt
spark-2.4.3-bin-hadoop2.7/python/pyspark.egg-info/PKG-INFO
spark-2.4.3-bin-hadoop2.7/python/pyspark.egg-info/SOURCES.txt
spark-2.4.3-bin-hadoop2.7/python/MANIFEST.in
spark-2.4.3-bin-hadoop2.7/python/test_support/
spark-2.4.3-bin-hadoop2.7/python/test_support/userlibrary.py
spark-2.4.3-bin-hadoop2.7/python/test_support/userlib-0.1.zip
spark-2.4.3-bin-hadoop2.7/python/test_support/SimpleHTTPServer.py
spark-2.4.3-bin-hadoop2.7/python/test_support/hello/
spark-2.4.3-bin-hadoop2.7/python/test_support/hello/sub_hello/
spark-2.4.3-bin-hadoop2.7/python/test_support/hello/sub_hello/sub_hello.txt
spark-2.4.3-bin-hadoop2.7/python/test_support/hello/hello.txt
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/people_array.json
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/text-test.txt
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/ages_newlines.csv
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/people.json
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/month=9/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/month=9/day=1/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/month=9/day=1/part-r-00008.gz.parquet
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2014/month=9/day=1/.part-r-00008.gz.parquet.crc
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=26/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=26/part-r-00005.gz.parquet
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=26/.part-r-00005.gz.parquet.crc
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/.part-r-00002.gz.parquet.crc
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/part-r-00002.gz.parquet
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/part-r-00004.gz.parquet
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=10/day=25/.part-r-00004.gz.parquet.crc
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=9/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=9/day=1/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=9/day=1/.part-r-00007.gz.parquet.crc
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/year=2015/month=9/day=1/part-r-00007.gz.parquet
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/_common_metadata
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/_metadata
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/parquet_partitioned/_SUCCESS
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/streaming/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/streaming/text-test.txt
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/ages.csv
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/people1.json
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=0/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=0/c=0/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=0/c=0/part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=0/c=0/.part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc.crc
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/_SUCCESS
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=1/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=1/c=1/
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=1/c=1/part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/orc_partitioned/b=1/c=1/.part-r-00000-829af031-b970-49d6-ad39-30460a0be2c8.orc.crc
spark-2.4.3-bin-hadoop2.7/python/test_support/sql/people_array_utf16le.json
spark-2.4.3-bin-hadoop2.7/python/run-tests.py
spark-2.4.3-bin-hadoop2.7/python/run-tests
spark-2.4.3-bin-hadoop2.7/python/.coveragerc
spark-2.4.3-bin-hadoop2.7/python/lib/
spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip
spark-2.4.3-bin-hadoop2.7/python/lib/PY4J_LICENSE.txt
spark-2.4.3-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip
spark-2.4.3-bin-hadoop2.7/python/setup.py
spark-2.4.3-bin-hadoop2.7/python/README.md
spark-2.4.3-bin-hadoop2.7/python/dist/
spark-2.4.3-bin-hadoop2.7/python/pylintrc
spark-2.4.3-bin-hadoop2.7/conf/
spark-2.4.3-bin-hadoop2.7/conf/fairscheduler.xml.template
spark-2.4.3-bin-hadoop2.7/conf/spark-defaults.conf.template
spark-2.4.3-bin-hadoop2.7/conf/docker.properties.template
spark-2.4.3-bin-hadoop2.7/conf/log4j.properties.template
spark-2.4.3-bin-hadoop2.7/conf/metrics.properties.template
spark-2.4.3-bin-hadoop2.7/conf/slaves.template
spark-2.4.3-bin-hadoop2.7/conf/spark-env.sh.template
spark-2.4.3-bin-hadoop2.7/licenses/
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-heapq.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-paranamer.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-graphlib-dot.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-minlog.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-slf4j.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-jquery.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-scopt.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-vis.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-sbt-launch-lib.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-spire.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-matchMedia-polyfill.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-kryo.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-mustache.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-arpack.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-scala.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-javassist.html
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-json-formatter.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-jodd.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-automaton.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-janino.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-dagre-d3.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-sorttable.js.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-py4j.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-d3.min.js.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-respond.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-CC0.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-zstd.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-cloudpickle.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-pmml-model.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-pyrolite.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-netlib.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-AnchorJS.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-modernizr.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-machinist.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-javolution.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-xmlenc.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-join.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-jline.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-antlr.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-jtransforms.html
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-leveldbjni.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-protobuf.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-bootstrap.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-zstd-jni.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-datatables.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-f2j.txt
spark-2.4.3-bin-hadoop2.7/licenses/LICENSE-reflectasm.txt
spark-2.4.3-bin-hadoop2.7/sbin/
spark-2.4.3-bin-hadoop2.7/sbin/start-slave.sh
spark-2.4.3-bin-hadoop2.7/sbin/stop-history-server.sh
spark-2.4.3-bin-hadoop2.7/sbin/stop-slave.sh
spark-2.4.3-bin-hadoop2.7/sbin/stop-mesos-dispatcher.sh
spark-2.4.3-bin-hadoop2.7/sbin/start-all.sh
spark-2.4.3-bin-hadoop2.7/sbin/spark-daemon.sh
spark-2.4.3-bin-hadoop2.7/sbin/start-master.sh
spark-2.4.3-bin-hadoop2.7/sbin/spark-daemons.sh
spark-2.4.3-bin-hadoop2.7/sbin/spark-config.sh
spark-2.4.3-bin-hadoop2.7/sbin/start-slaves.sh
spark-2.4.3-bin-hadoop2.7/sbin/start-mesos-shuffle-service.sh
spark-2.4.3-bin-hadoop2.7/sbin/start-history-server.sh
spark-2.4.3-bin-hadoop2.7/sbin/start-shuffle-service.sh
spark-2.4.3-bin-hadoop2.7/sbin/slaves.sh
spark-2.4.3-bin-hadoop2.7/sbin/stop-slaves.sh
spark-2.4.3-bin-hadoop2.7/sbin/stop-thriftserver.sh
spark-2.4.3-bin-hadoop2.7/sbin/stop-master.sh
spark-2.4.3-bin-hadoop2.7/sbin/stop-shuffle-service.sh
spark-2.4.3-bin-hadoop2.7/sbin/start-mesos-dispatcher.sh
spark-2.4.3-bin-hadoop2.7/sbin/stop-mesos-shuffle-service.sh
spark-2.4.3-bin-hadoop2.7/sbin/start-thriftserver.sh
spark-2.4.3-bin-hadoop2.7/sbin/stop-all.sh
spark-2.4.3-bin-hadoop2.7/kubernetes/
spark-2.4.3-bin-hadoop2.7/kubernetes/tests/
spark-2.4.3-bin-hadoop2.7/kubernetes/tests/pyfiles.py
spark-2.4.3-bin-hadoop2.7/kubernetes/tests/worker_memory_check.py
spark-2.4.3-bin-hadoop2.7/kubernetes/tests/py_container_checks.py
spark-2.4.3-bin-hadoop2.7/kubernetes/dockerfiles/
spark-2.4.3-bin-hadoop2.7/kubernetes/dockerfiles/spark/
spark-2.4.3-bin-hadoop2.7/kubernetes/dockerfiles/spark/Dockerfile
spark-2.4.3-bin-hadoop2.7/kubernetes/dockerfiles/spark/bindings/
spark-2.4.3-bin-hadoop2.7/kubernetes/dockerfiles/spark/bindings/python/
spark-2.4.3-bin-hadoop2.7/kubernetes/dockerfiles/spark/bindings/python/Dockerfile
spark-2.4.3-bin-hadoop2.7/kubernetes/dockerfiles/spark/bindings/R/
spark-2.4.3-bin-hadoop2.7/kubernetes/dockerfiles/spark/bindings/R/Dockerfile
spark-2.4.3-bin-hadoop2.7/kubernetes/dockerfiles/spark/entrypoint.sh
spark-2.4.3-bin-hadoop2.7/jars/
spark-2.4.3-bin-hadoop2.7/jars/commons-lang3-3.5.jar
spark-2.4.3-bin-hadoop2.7/jars/spark-kubernetes_2.11-2.4.3.jar
spark-2.4.3-bin-hadoop2.7/jars/arrow-format-0.10.0.jar
spark-2.4.3-bin-hadoop2.7/jars/spark-streaming_2.11-2.4.3.jar
spark-2.4.3-bin-hadoop2.7/jars/hadoop-yarn-common-2.7.3.jar
spark-2.4.3-bin-hadoop2.7/jars/hadoop-mapreduce-client-jobclient-2.7.3.jar
spark-2.4.3-bin-hadoop2.7/jars/json4s-jackson_2.11-3.5.3.jar
spark-2.4.3-bin-hadoop2.7/jars/jersey-container-servlet-2.22.2.jar
spark-2.4.3-bin-hadoop2.7/jars/hive-jdbc-1.2.1.spark2.jar
spark-2.4.3-bin-hadoop2.7/jars/spark-network-common_2.11-2.4.3.jar
spark-2.4.3-bin-hadoop2.7/jars/curator-framework-2.7.1.jar
spark-2.4.3-bin-hadoop2.7/jars/pyrolite-4.13.jar
spark-2.4.3-bin-hadoop2.7/jars/bonecp-0.8.0.RELEASE.jar
spark-2.4.3-bin-hadoop2.7/jars/hppc-0.7.2.jar
spark-2.4.3-bin-hadoop2.7/jars/spark-network-shuffle_2.11-2.4.3.jar
spark-2.4.3-bin-hadoop2.7/jars/metrics-jvm-3.1.5.jar
spark-2.4.3-bin-hadoop2.7/jars/jersey-guava-2.22.2.jar
spark-2.4.3-bin-hadoop2.7/jars/guice-3.0.jar
spark-2.4.3-bin-hadoop2.7/jars/super-csv-2.2.0.jar
spark-2.4.3-bin-hadoop2.7/jars/jsp-api-2.1.jar
spark-2.4.3-bin-hadoop2.7/jars/commons-net-3.1.jar
spark-2.4.3-bin-hadoop2.7/jars/validation-api-1.1.0.Final.jar
spark-2.4.3-bin-hadoop2.7/jars/json4s-ast_2.11-3.5.3.jar
spark-2.4.3-bin-hadoop2.7/jars/spark-repl_2.11-2.4.3.jar
spark-2.4.3-bin-hadoop2.7/jars/spark-sketch_2.11-2.4.3.jar
spark-2.4.3-bin-hadoop2.7/jars/javax.inject-1.jar
spark-2.4.3-bin-hadoop2.7/jars/hadoop-mapreduce-client-shuffle-2.7.3.jar
spark-2.4.3-bin-hadoop2.7/jars/orc-mapreduce-1.5.5-nohive.jar
spark-2.4.3-bin-hadoop2.7/jars/avro-ipc-1.8.2.jar
spark-2.4.3-bin-hadoop2.7/jars/parquet-encoding-1.10.1.jar
spark-2.4.3-bin-hadoop2.7/jars/jersey-container-servlet-core-2.22.2.jar
spark-2.4.3-bin-hadoop2.7/jars/zjsonpatch-0.3.0.jar
spark-2.4.3-bin-hadoop2.7/jars/scala-compiler-2.11.12.jar
spark-2.4.3-bin-hadoop2.7/jars/curator-client-2.7.1.jar

In [53]:
schema1 = StructType([
    StructField("user_id", IntegerType(), True),
    StructField("item_id", IntegerType(), True),
    StructField("rating", IntegerType(), True),
    StructField("timestamp", IntegerType(), True)])
spark_rat = spark.read.csv('u_data.csv',  sep='\t', inferSchema=True, header=False, schema = schema1)
spark_rat.show(10)

+-------+-------+------+---------+
|user_id|item_id|rating|timestamp|
+-------+-------+------+---------+
|    196|    242|     3|881250949|
|    186|    302|     3|891717742|
|     22|    377|     1|878887116|
|    244|     51|     2|880606923|
|    166|    346|     1|886397596|
|    298|    474|     4|884182806|
|    115|    265|     2|881171488|
|    253|    465|     5|891628467|
|    305|    451|     3|886324817|
|      6|     86|     3|883603013|
+-------+-------+------+---------+
only showing top 10 rows

In [54]:
schema2 = StructType([
    StructField("genre", StringType(), True),
    StructField("id", IntegerType(), True)])
spark_genre = spark.read.csv('u_genre.csv',  sep='|', inferSchema=True, header=False, schema = schema2)
spark_genre.show(10)

+-----------+---+
|      genre| id|
+-----------+---+
|    unknown|  0|
|     Action|  1|
|  Adventure|  2|
|  Animation|  3|
| Children's|  4|
|     Comedy|  5|
|      Crime|  6|
|Documentary|  7|
|      Drama|  8|
|    Fantasy|  9|
+-----------+---+
only showing top 10 rows

In [55]:
schema3 = StructType([
    StructField("quan", IntegerType(), True),
    StructField("obj", StringType(), True)])
spark_info = spark.read.csv('u_info.csv',  sep=' ', inferSchema=True, header=False, schema = schema3)
spark_info.show(10)

+------+-------+
|  quan|    obj|
+------+-------+
|   943|  users|
|  1682|  items|
|100000|ratings|
+------+-------+

In [56]:
schema4 = StructType([
    StructField("movie_id", IntegerType(), True),
    StructField("movie_title", StringType(), True),
    StructField("release_date", StringType(), True),
    StructField("video_release_date", StringType(), True),
    StructField("IMDb_URL", StringType(), True),
    StructField("unknown", IntegerType(), True),
    StructField("Action", IntegerType(), True),
    StructField("Adventure", IntegerType(), True),
    StructField("Animation", IntegerType(), True),
    StructField("Children", IntegerType(), True),
    StructField("Comedy", IntegerType(), True),
    StructField("Crime", IntegerType(), True),
    StructField("Documentary", IntegerType(), True),
    StructField("Drama", IntegerType(), True),
    StructField("Fantasy", IntegerType(), True),
    StructField("FilmNoir", IntegerType(), True),
    StructField("Horror", IntegerType(), True),
    StructField("Musical", IntegerType(), True),
    StructField("Mystery", IntegerType(), True),
    StructField("Romance", IntegerType(), True),
    StructField("SciFi", IntegerType(), True),
    StructField("Thriller", IntegerType(), True),
    StructField("War", IntegerType(), True),
    StructField("Western", IntegerType(), True)])
spark_item = spark.read.csv('u_item.csv',  sep='|', inferSchema=True, header=False, schema = schema4)
spark_item.show(10)

+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+--------+------+-----+-----------+-----+-------+--------+------+-------+-------+-------+-----+--------+---+-------+
|movie_id|         movie_title|release_date|video_release_date|            IMDb_URL|unknown|Action|Adventure|Animation|Children|Comedy|Crime|Documentary|Drama|Fantasy|FilmNoir|Horror|Musical|Mystery|Romance|SciFi|Thriller|War|Western|
+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+--------+------+-----+-----------+-----+-------+--------+------+-------+-------+-------+-----+--------+---+-------+
|       1|    Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|       1|     1|    0|          0|    0|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|
|       2|    GoldenEye (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        1|        0|       0|     0|    0|          0|    0|      0|       0|     0|      0|      0|      0|    0|       1|  0|      0|
|       3|   Four Rooms (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|       0|     0|    0|          0|    0|      0|       0|     0|      0|      0|      0|    0|       1|  0|      0|
|       4|   Get Shorty (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        0|        0|       0|     1|    0|          0|    1|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|
|       5|      Copycat (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|       0|     0|    1|          0|    1|      0|       0|     0|      0|      0|      0|    0|       1|  0|      0|
|       6|Shanghai Triad (Y...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|       0|     0|    0|          0|    1|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|
|       7|Twelve Monkeys (1...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|       0|     0|    0|          0|    1|      0|       0|     0|      0|      0|      0|    1|       0|  0|      0|
|       8|         Babe (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|       1|     1|    0|          0|    1|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|
|       9|Dead Man Walking ...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|       0|     0|    0|          0|    1|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|
|      10|  Richard III (1995)| 22-Jan-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|       0|     0|    0|          0|    1|      0|       0|     0|      0|      0|      0|    0|       0|  1|      0|
+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+--------+------+-----+-----------+-----+-------+--------+------+-------+-------+-------+-----+--------+---+-------+
only showing top 10 rows

In [57]:
schema5 = StructType([
    StructField("occupation", StringType(), True)])
spark_occ = spark.read.csv('u_occupation.csv', inferSchema=True, header=False, schema = schema5)
spark_occ.show(10)

+-------------+
|   occupation|
+-------------+
|administrator|
|       artist|
|       doctor|
|     educator|
|     engineer|
|entertainment|
|    executive|
|   healthcare|
|    homemaker|
|       lawyer|
+-------------+
only showing top 10 rows

In [58]:
schema6 = StructType([
    StructField("user_id", IntegerType(), True),
    StructField("age", IntegerType(), True),
    StructField("gender", StringType(), True),
    StructField("occupation", StringType(), True),
    StructField("zip_code", IntegerType(), True)])
spark_users = spark.read.csv('u.user.csv',  sep='|', inferSchema=True, header=False, schema = schema6)
spark_users.show(10)

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      1| 24|     M|   technician|   85711|
|      2| 53|     F|        other|   94043|
|      3| 23|     M|       writer|   32067|
|      4| 24|     M|   technician|   43537|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|    5201|
|      9| 29|     M|      student|    1002|
|     10| 53|     M|       lawyer|   90703|
+-------+---+------+-------------+--------+
only showing top 10 rows

In [59]:
#Средствами спарка вывести среднюю оценку для каждого фильма
spark_rat_lim = spark_rat.select('item_id', 'rating')
spark_film_lim = spark_item.select('movie_id','movie_title')

avg_sp = spark_rat_lim.groupby(['item_id']).mean('rating').orderBy('avg(rating)', ascending=False)

avg_sp.join(spark_film_lim, spark_rat_lim.item_id == spark_item.movie_id).show()

+-------+-----------------+--------+--------------------+
|item_id|      avg(rating)|movie_id|         movie_title|
+-------+-----------------+--------+--------------------+
|   1653|              5.0|    1653|Entertaining Ange...|
|   1500|              5.0|    1500|Santa with Muscle...|
|   1201|              5.0|    1201|Marlene Dietrich:...|
|   1599|              5.0|    1599|Someone Else's Am...|
|   1122|              5.0|    1122|They Made Me a Cr...|
|   1467|              5.0|    1467|Saint of Fort Was...|
|   1189|              5.0|    1189|  Prefontaine (1997)|
|   1293|              5.0|    1293|     Star Kid (1997)|
|   1536|              5.0|    1536|Aiqing wansui (1994)|
|    814|              5.0|     814|Great Day in Harl...|
|   1449|            4.625|    1449|Pather Panchali (...|
|   1398|              4.5|    1398|         Anna (1996)|
|   1642|              4.5|    1642|Some Mother's Son...|
|   1594|              4.5|    1594|      Everest (1998)|
|    119|              4.5|     119|Maya Lin: A Stron...|
|    408|4.491071428571429|     408|Close Shave, A (1...|
|    318|4.466442953020135|     318|Schindler's List ...|
|    169|4.466101694915254|     169|Wrong Trousers, T...|
|    483| 4.45679012345679|     483|   Casablanca (1942)|
|    114|4.447761194029851|     114|Wallace & Gromit:...|
+-------+-----------------+--------+--------------------+
only showing top 20 rows

In [60]:
#В спарке получить 2 датафрейма с 5-ю самыми популярными и самыми непопулярными фильмами 
#по количеству оценок, либо по самой оценке - на Ваш выбор

cnt_sp_top = spark_rat_lim.groupby(['item_id']).count().orderBy('count', ascending=False)
cnt_sp_top.join(spark_film_lim, spark_rat_lim.item_id == spark_item.movie_id).show(5)

+-------+-----+--------+--------------------+
|item_id|count|movie_id|         movie_title|
+-------+-----+--------+--------------------+
|     50|  583|      50|    Star Wars (1977)|
|    258|  509|     258|      Contact (1997)|
|    100|  508|     100|        Fargo (1996)|
|    181|  507|     181|Return of the Jed...|
|    294|  485|     294|    Liar Liar (1997)|
+-------+-----+--------+--------------------+
only showing top 5 rows

In [61]:
cnt_sp_bottom = spark_rat_lim.groupby(['item_id']).count().orderBy('count', ascending=True)
cnt_sp_bottom.join(spark_film_lim, spark_rat_lim.item_id == spark_item.movie_id).show(5)

+-------+-----+--------+--------------------+
|item_id|count|movie_id|         movie_title|
+-------+-----+--------+--------------------+
|   1580|    1|    1580|     Liebelei (1933)|
|   1645|    1|    1645|Butcher Boy, The ...|
|   1507|    1|    1507|Three Lives and O...|
|   1460|    1|    1460|    Sleepover (1995)|
|   1339|    1|    1339|Stefano Quantesto...|
+-------+-----+--------+--------------------+
only showing top 5 rows

In [62]:
#Средствами спарка соедините информацию по фильмам и жанрам (u.genre) | Дублирование строк в данном случае - ок | Интересует такая структура - id фильма | название фильма | жанр.

sp = spark_item.select('movie_id', 'movie_title','unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy','FilmNoir', 'Horror', 'Musical', 'Mystery', 'Romance', 'SciFi', 'Thriller', 'War', 'Western')
sp_unpvt = sp.selectExpr("movie_id", "movie_title", "stack(19, 'unknown', unknown, 'Action', Action, 'Adventure', Adventure, 'Animation', Animation, 'Children', Children, 'Comedy', Comedy, 'Crime', Crime, 'Documentary', Documentary, 'Drama', Drama, 'Fantasy', Fantasy, 'FilmNoir', FilmNoir, 'Horror', Horror, 'Musical', Musical, 'Mystery', Mystery, 'Romance', Romance, 'SciFi', SciFi, 'Thriller', Thriller, 'War', War, 'Western', Western) as (Genr, Total)").where("Total != 0")
sp_unpvt_g = sp_unpvt.join(spark_genre, sp_unpvt.Genr == spark_genre.genre)
sp_unpvt_grt = sp_unpvt_g.join(avg_sp, avg_sp.item_id == sp_unpvt_g.movie_id)
sp_unpvt_grt.show()

+--------+--------------------+---------+-----+---------+---+-------+------------------+
|movie_id|         movie_title|     Genr|Total|    genre| id|item_id|       avg(rating)|
+--------+--------------------+---------+-----+---------+---+-------+------------------+
|       1|    Toy Story (1995)|Animation|    1|Animation|  3|      1|3.8783185840707963|
|       1|    Toy Story (1995)|   Comedy|    1|   Comedy|  5|      1|3.8783185840707963|
|       2|    GoldenEye (1995)|   Action|    1|   Action|  1|      2|3.2061068702290076|
|       2|    GoldenEye (1995)|Adventure|    1|Adventure|  2|      2|3.2061068702290076|
|       2|    GoldenEye (1995)| Thriller|    1| Thriller| 16|      2|3.2061068702290076|
|       3|   Four Rooms (1995)| Thriller|    1| Thriller| 16|      3| 3.033333333333333|
|       4|   Get Shorty (1995)|   Action|    1|   Action|  1|      4| 3.550239234449761|
|       4|   Get Shorty (1995)|   Comedy|    1|   Comedy|  5|      4| 3.550239234449761|
|       4|   Get Shorty (1995)|    Drama|    1|    Drama|  8|      4| 3.550239234449761|
|       5|      Copycat (1995)|    Crime|    1|    Crime|  6|      5| 3.302325581395349|
|       5|      Copycat (1995)|    Drama|    1|    Drama|  8|      5| 3.302325581395349|
|       5|      Copycat (1995)| Thriller|    1| Thriller| 16|      5| 3.302325581395349|
|       6|Shanghai Triad (Y...|    Drama|    1|    Drama|  8|      6| 3.576923076923077|
|       7|Twelve Monkeys (1...|    Drama|    1|    Drama|  8|      7| 3.798469387755102|
|       8|         Babe (1995)|   Comedy|    1|   Comedy|  5|      8|3.9954337899543377|
|       8|         Babe (1995)|    Drama|    1|    Drama|  8|      8|3.9954337899543377|
|       9|Dead Man Walking ...|    Drama|    1|    Drama|  8|      9|3.8963210702341136|
|      10|  Richard III (1995)|    Drama|    1|    Drama|  8|     10| 3.831460674157303|
|      10|  Richard III (1995)|      War|    1|      War| 17|     10| 3.831460674157303|
|      11|Seven (Se7en) (1995)|    Crime|    1|    Crime|  6|     11| 3.847457627118644|
+--------+--------------------+---------+-----+---------+---+-------+------------------+
only showing top 20 rows

In [68]:
#Посчитайте средствами спарка среднюю оценку для каждого жанра

sp_unpvt_grt.groupby(['genre']).mean('avg(rating)').show()

+-----------+------------------+
|      genre|  avg(avg(rating))|
+-----------+------------------+
|      Crime|3.2110147495997547|
|    Romance|3.2440490301647995|
|   Thriller| 3.136692475563836|
|  Adventure|3.1439673136976105|
|    unknown|2.2222222222222223|
|      Drama|3.1873534142973314|
|        War| 3.489185428943569|
|Documentary| 3.229273094093941|
|    Fantasy| 2.849830297920943|
|    Mystery| 3.336813932383023|
|    Musical| 3.376423123539873|
|  Animation|3.2988130803823776|
|     Horror| 2.730157352996138|
|    Western| 3.185617473056144|
|     Comedy|3.0005649618406727|
|     Action| 2.966332403758986|
+-----------+------------------+